$rqb-spacing: 0.5rem !default;
$rqb-background-color: rgba(230, 38, 38, 0.2) !default;
$rqb-border-color: #a28080 !default;
$rqb-border-style: solid !default;
$rqb-border-radius: 0.25rem !default;
$rqb-border-width: 1px !default;