
*{
  direction: ltr !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fullscreen-enabled {
  background-color: white !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button[aria-label*="فیلتر با"] {
  display: none;
}

div[id="select_Type_fields"] {
  height: 37px;
}

div[class="date-input-with-dialog-input-buttons date-input-with-dialog-empty"]{
  display: none !important;
}

div[class="date-input-with-dialog-input-buttons date-input-with-dialog-calendar"]{
  transform: scale(1.3);
}