.calendarContainer {
  border-radius: 3px;
  box-shadow: 0 3px 10px #dbdbdb;
  border: 1px solid #cccccc;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

.calendarContainer * {
  box-sizing: border-box;
}

.calendarContainer .dayPickerContainer:after,
.calendarContainer .monthsList:after,
.calendarContainer .daysOfWeek:after {
  content: "";
  display: block;
  clear: both;
}

/* Heading */
.calendarContainer .heading {
  height: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendarContainer .heading > button {
  border-radius: 3px;
  background: none;
  margin: 5px 0;
  border: 1px solid #f7f7f7;
  text-align: center;
  line-height: 30px;
  width: 36px;
  height: 32px;
  cursor: pointer;
}

.calendarContainer .heading > button:hover {
  background-color: #f2f2f2;
}

.calendarContainer .heading > span {
  line-height: 35px;
}

.calendarContainer .heading svg {
  width: 10px;
}

.calendarContainer .heading .prev {
  float: right;
}

.calendarContainer .heading .next {
  float: left;
}

.calendarContainer .heading .title {
  line-height: 32px;
  width: 120px;
  height: 32px;
  font-size: 1em;
  margin: 5px 0;
  border: 1px solid #f7f7f7;
  text-align: center;
  display: inline-block;
  font-weight: normal;
}

/* Day wrapper styles */
.calendarContainer .dayWrapper {
  padding: 5;
  float: right;
  width: 14.28571429%;
}

/* Day wrapper button styles */
.calendarContainer .dayWrapper button {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 36px;
  border-radius: 3px;
  cursor: pointer;
}

.calendarContainer .dayWrapper button:hover {
  background-color: #eeeeff;
}

.calendarContainer .dayWrapper button[disabled] {
  color: #aaa;
  cursor: not-allowed;
  background-color: #ebebeb;
}

.calendarContainer .dayWrapper button.selected {
  background-color: #337ab7;
  color: #ffffff;
}

.calendarContainer .dayWrapper:not(.currentMonth) button {
  opacity: 0.5;
}

/* Days of week row */
.calendarContainer .daysOfWeek {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  width: 100%;
}

.calendarContainer .daysOfWeek > div {
  flex-grow: 1;
  justify-content: space-between;
}

/* Month selector portion */
.calendarContainer .monthsList {
  clear: both;
  width: 100%;
}

.calendarContainer .monthsList button {
  width: 33.33333332%;
  height: 25%;
  float: right;
  border: 1px solid #f9f9f9;
  outline: none;
  font-size: 1em;
  background: #fff;
  padding: 10px 0;
  cursor: pointer;
}

.calendarContainer .monthsList button:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* Selected state of buttons */
.calendarContainer .selected button,
.calendarContainer .selected button:hover,
.calendarContainer .selected button:active,
.calendarContainer .selected button:focus {
  background-color: #337ab7;
  color: hsl(0, 0%, 100%);
}

.inputTimePicker-dark {
  padding: 15px;
  border-radius: 5px;
  background-color: #282625;
  height: 45px !important;
}

.inputTimePicker-light {
  padding: 15px;
  border-radius: 5px;
  height: 45px !important;
}

.inputTimePicker2-dark {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: #282625;
  height: 45px !important;
  color: white !important;
}

.inputTimePicker-queryBuilder-dark {
  border-radius: 8px;
  height: 33px !important;
  width: 33%;
  font-weight: normal;
  font-size: 1.1rem;
  border: 2px solid #4156a6;
  transition: border-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1px 10px;
}

.inputTimePicker-queryBuilder-light {
  border-radius: 8px;
  height: 33px !important;
  width: 33%;
  font-weight: normal;
  font-size: 1.1rem;
  border: 2px solid #4156a6;
  transition: border-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1px 10px;
}

.inputTimePicker2-queryBuilder-dark {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid red;
  height: 33px !important;
}

.JDatePicker button {
  color: white !important;
}
:root {
  --datepicker-color: #3f51b5 !important;
  --datepicker-button-hover-color: #3f51b5 !important;
  --datepicker-background: #32302e;
  --datepicker-days-background: #4d4c4c;
  --datepicker-today-background: #eec3c347;
  --datepicker-border-color: grey;
  --datepicker-shadow-color: #5959597a;
}
input[class="date-input-with-dialog-input inputTimePicker-dark"] {
  border: 1px solid gray !important;
  color: white;
}
input[class="date-input-with-dialog-input inputTimePicker-light"] {
  border: 1px solid gray !important;
}

div[class="date-input-with-dialog-input-buttons date-input-with-dialog-calendar"] {
  width: 1.4em !important;
  margin-left: 5px;
  border: none !important;
  /* background-color: transparent !important;
  color: #aaa !important; */
}
div[class="date-input-with-dialog-input-buttons date-input-with-dialog-empty"] {
  width: 1.3em !important;
  margin-left: 5px;
  /* background-color: transparent !important;
  color: #aaa !important;
  border-color: #aaa !important;
  border-width: 1px !important; */
}

/* div[class="date-input-with-dialog-input-buttons date-input-with-dialog-empty"] {
  width: 1.5em !important;
  top: calc(50% - 1.5em) !important;
  margin: -0.4rem 10px 0px;
  border: none !important;
} */
